In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [2]:
spending=pd.read_csv('fact_spends.csv')
customers=pd.read_csv('dim_customers.csv')
merged_df = pd.merge(spending, customers, on='customer_id')

In [3]:
list(merged_df)

['customer_id',
 'month',
 'category',
 'payment_type',
 'spend',
 'age_group',
 'city',
 'occupation',
 'gender',
 'marital status',
 'avg_income']

In [4]:
#Total Spending by Age Group:
total_spending_by_age = merged_df.groupby('age_group')['spend'].sum().sort_values(ascending=False)
print(total_spending_by_age.apply(lambda x: 'Rs {:,.2f}'.format(x)))

age_group
25-34    Rs 203,357,184.00
35-45    Rs 190,639,828.00
21-24     Rs 68,523,077.00
45+       Rs 68,377,666.00
Name: spend, dtype: object

In [5]:
#Avg Spending per tx by Age Group:
avg_spending_by_age = merged_df.groupby('age_group')['spend'].mean().sort_values(ascending=False)
print(avg_spending_by_age.apply(lambda x: 'Rs {:,.2f}'.format(x)))

age_group
35-45    Rs 693.32
25-34    Rs 628.48
45+      Rs 588.41
21-24    Rs 459.10
Name: spend, dtype: object

In [6]:
#Total Spending by Gender:
total_spending_by_gender = merged_df.groupby('gender')['spend'].sum().sort_values(ascending=False)
print(total_spending_by_gender.apply(lambda x: 'Rs {:,.2f}'.format(x)))

gender
Male      Rs 357,138,037.00
Female    Rs 173,759,718.00
Name: spend, dtype: object

In [7]:
#Average Spending per Transaction by Gender:
avg_spending_per_transaction_gender = merged_df.groupby('gender')['spend'].mean().sort_values(ascending=False)
print(avg_spending_per_transaction_gender.apply(lambda x: 'Rs {:,.2f}'.format(x)))

gender
Male      Rs 636.66
Female    Rs 573.37
Name: spend, dtype: object

In [8]:
#Total Spending by Occupation:
total_spending_by_occupation = merged_df.groupby('occupation')['spend'].sum().sort_values(ascending=False)
print(total_spending_by_occupation.apply(lambda x: 'Rs {:,.2f}'.format(x)))

occupation
Salaried IT Employees       Rs 243,720,304.00
Business Owners              Rs 88,004,709.00
Salaried Other Employees     Rs 87,511,686.00
Freelancers                  Rs 75,538,638.00
Government Employees         Rs 36,122,418.00
Name: spend, dtype: object

In [9]:
#Avg Spending per tx by Occupation:
mean_spending_by_occupation = merged_df.groupby('occupation')['spend'].mean().sort_values(ascending=False)
print(mean_spending_by_occupation.apply(lambda x: 'Rs {:,.2f}'.format(x)))

occupation
Salaried IT Employees       Rs 871.97
Business Owners             Rs 646.71
Salaried Other Employees    Rs 453.69
Freelancers                 Rs 446.07
Government Employees        Rs 419.13
Name: spend, dtype: object

In [10]:
#Total Spending by Age Group and Gender:
total_spending_age_gender = merged_df.groupby(['age_group', 'gender'])['spend'].sum().sort_values(ascending=False)
print(total_spending_age_gender.apply(lambda x: 'Rs {:,.2f}'.format(x)))

age_group  gender
25-34      Male      Rs 136,290,216.00
35-45      Male      Rs 128,878,788.00
25-34      Female     Rs 67,066,968.00
35-45      Female     Rs 61,761,040.00
45+        Male       Rs 48,017,470.00
21-24      Male       Rs 43,951,563.00
           Female     Rs 24,571,514.00
45+        Female     Rs 20,360,196.00
Name: spend, dtype: object

In [11]:
#Average Spending by Age Group and Gender:
avg_spending_age_gender = merged_df.groupby(['age_group', 'gender'])['spend'].mean().sort_values(ascending=False)
print(avg_spending_age_gender.apply(lambda x: 'Rs {:,.2f}'.format(x)))

age_group  gender
35-45      Male      Rs 715.42
25-34      Male      Rs 653.18
35-45      Female    Rs 651.32
45+        Male      Rs 612.41
25-34      Female    Rs 583.64
45+        Female    Rs 538.63
21-24      Male      Rs 468.85
           Female    Rs 442.63
Name: spend, dtype: object

In [12]:
#Total Spending by Category and Occupation:
total_spending_by_category_occupation = merged_df.groupby(['category', 'occupation'])['spend'].sum().sort_values(ascending=False)
print(total_spending_by_category_occupation.apply(lambda x: 'Rs {:,.2f}'.format(x)))

category           occupation
Bills              Salaried IT Employees       Rs 45,874,131.00
Groceries          Salaried IT Employees       Rs 37,944,382.00
Electronics        Salaried IT Employees       Rs 35,662,201.00
Health & Wellness  Salaried IT Employees       Rs 32,270,966.00
Travel             Salaried IT Employees       Rs 27,212,716.00
Food               Salaried IT Employees       Rs 20,848,372.00
Entertainment      Salaried IT Employees       Rs 19,063,859.00
Bills              Business Owners             Rs 18,890,434.00
Apparel            Salaried IT Employees       Rs 17,395,479.00
Bills              Salaried Other Employees    Rs 17,141,830.00
                   Freelancers                 Rs 15,892,615.00
Groceries          Business Owners             Rs 15,432,082.00
                   Salaried Other Employees    Rs 14,061,217.00
Electronics        Business Owners             Rs 13,666,284.00
                   Salaried Other Employees    Rs 12,993,823.00
Groceries          Freelancers                 Rs 12,923,620.00
Electronics        Freelancers                 Rs 11,768,560.00
Health & Wellness  Salaried Other Employees    Rs 11,163,046.00
Travel             Business Owners              Rs 9,810,314.00
                   Salaried Other Employees     Rs 9,774,481.00
Health & Wellness  Business Owners              Rs 9,291,275.00
                   Freelancers                  Rs 8,608,025.00
Travel             Freelancers                  Rs 8,195,779.00
Others             Salaried IT Employees        Rs 7,448,198.00
Food               Salaried Other Employees     Rs 7,281,436.00
Bills              Government Employees         Rs 7,113,758.00
Entertainment      Business Owners              Rs 6,936,727.00
Food               Business Owners              Rs 6,895,848.00
Entertainment      Salaried Other Employees     Rs 6,687,445.00
Food               Freelancers                  Rs 6,015,509.00
Groceries          Government Employees         Rs 5,942,460.00
Entertainment      Freelancers                  Rs 5,789,267.00
Apparel            Salaried Other Employees     Rs 5,747,885.00
Electronics        Government Employees         Rs 5,471,352.00
Apparel            Business Owners              Rs 4,535,186.00
Health & Wellness  Government Employees         Rs 4,266,555.00
Travel             Government Employees         Rs 4,230,034.00
Apparel            Freelancers                  Rs 4,129,048.00
Food               Government Employees         Rs 2,972,305.00
Entertainment      Government Employees         Rs 2,811,864.00
Others             Salaried Other Employees     Rs 2,660,523.00
                   Business Owners              Rs 2,546,559.00
Apparel            Government Employees         Rs 2,228,403.00
Others             Freelancers                  Rs 2,216,215.00
                   Government Employees         Rs 1,085,687.00
Name: spend, dtype: object

In [13]:
#Avg Spending by Category and Occupation:
avg_spending_by_category_occupation = merged_df.groupby(['category', 'occupation'])['spend'].mean().sort_values(ascending=False)
print(avg_spending_by_category_occupation.apply(lambda x: 'Rs {:,.2f}'.format(x)))

category           occupation
Bills              Salaried IT Employees       Rs 1,477.14
                   Business Owners             Rs 1,249.37
Groceries          Salaried IT Employees       Rs 1,221.81
Electronics        Salaried IT Employees       Rs 1,148.32
Health & Wellness  Salaried IT Employees       Rs 1,039.12
Groceries          Business Owners             Rs 1,020.64
Electronics        Business Owners               Rs 903.85
Travel             Salaried IT Employees         Rs 876.25
Bills              Freelancers                   Rs 844.63
                   Salaried Other Employees      Rs 799.82
                   Government Employees          Rs 742.87
Groceries          Freelancers                   Rs 686.84
Food               Salaried IT Employees         Rs 671.32
Groceries          Salaried Other Employees      Rs 656.09
Travel             Business Owners               Rs 648.83
Electronics        Freelancers                   Rs 625.45
Groceries          Government Employees          Rs 620.56
Health & Wellness  Business Owners               Rs 614.50
Entertainment      Salaried IT Employees         Rs 613.85
Electronics        Salaried Other Employees      Rs 606.28
                   Government Employees          Rs 571.36
Apparel            Salaried IT Employees         Rs 560.13
Health & Wellness  Salaried Other Employees      Rs 520.86
Entertainment      Business Owners               Rs 458.78
Health & Wellness  Freelancers                   Rs 457.48
Food               Business Owners               Rs 456.07
Travel             Salaried Other Employees      Rs 456.07
Health & Wellness  Government Employees          Rs 445.55
Travel             Government Employees          Rs 441.73
                   Freelancers                   Rs 435.57
Food               Salaried Other Employees      Rs 339.75
                   Freelancers                   Rs 319.70
Entertainment      Salaried Other Employees      Rs 312.03
Food               Government Employees          Rs 310.39
Entertainment      Freelancers                   Rs 307.68
Apparel            Business Owners               Rs 299.95
Entertainment      Government Employees          Rs 293.64
Apparel            Salaried Other Employees      Rs 268.19
Others             Salaried IT Employees         Rs 239.83
Apparel            Government Employees          Rs 232.71
                   Freelancers                   Rs 219.44
Others             Business Owners               Rs 168.42
                   Salaried Other Employees      Rs 124.14
                   Freelancers                   Rs 117.78
                   Government Employees          Rs 113.38
Name: spend, dtype: object